PORT=8080
HOST=0.0.0.0
NODE_ENV=development

MOBILE_CLIENT_ORIGIN=http://127.0.0.1:8081
ADMIN_PORTAL_ORIGIN=http://127.0.0.1:3000

JWT_SECRET_ACCESS_TOKEN="fantapassion"
JWT_ACCESS_TOKEN_EXPIRY=20
JWT_SECRET_REFRESH_TOKEN="stoney"
JWT_REFRESH_TOKEN_EXPIRY=30
JWT_SECRET_PASSWORD_RESET_TOKEN="sprite"
JWT_PASSWORD_RESET_TOKEN_EXPIR=10

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_ID_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=

DB_HOST=
DB_USER=
DB_USER_PASSWORD=
DB_NAME=
DB_PORT=